# Logs
logs
*.log

# Node
node_modules

# Next.js
.next

# Environment
.env
.env.local

# IDE
.vscode
.idea

# macOS
.DS_Store

# Windows
Thumbs.db

# Java
target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar